/* Universal Styles */

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  background-color: #fafafa;
}

/* Header Styles */

header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  text-align: center;
}

header h1#logo {
  font-family: "Syne Mono", Roboto, sans-serif;
  font-size: 3rem;
  color: white;
  margin: 10px auto;
}

header nav {
  margin: 0;
  padding: 0;
}

header ul {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.25rem;
  margin: 0;
  padding: 10px 0;
}

header li {
  list-style: none;
  display: inline-block;
}

header a {
  text-decoration: none;
  color: white;
}

header a:hover {
  color: red;
}

header a:active {
  color: white;
}

/* Main Styles */

main {
  position: relative;
  top: 122.40px;
}

/* About Section Styles */

.background-container {
  width: 100%;
  height: 600px;
  background-image: url("./images/main_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-container .text-container {
  font-family: "Syne Mono", serif;
  font-size: 1.8rem;
  background-color: rgba(74, 74, 74, 0.8);
  text-align: center;
  color: white;
  width: 100%;
}

.description-about {
  margin: 80px auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.description-about p {
  text-align: justify;
  line-height: 1.7rem;
  max-width: 35%;
  min-width: 300px;
  margin: 15px;
}

.description-about img {
  max-width: 300px;
  height: auto;
}

/* Reviews Section Styles */

.content-reviews {
  margin: 20px auto;
}

.content-reviews h2 {
text-align: center;
font-size: 2rem;
}

.review-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
}

.review {
  margin: 10px;
  max-width: 450px;
}

.review p {
  line-height: 1.5rem;
}

.review p.review-signature {
  font-style: italic;
}

/* Featured Section Styles */

.content-featured {
  margin: 50px auto;
}

.content-featured > h2 {
  text-align: center;
  font-size: 2rem;
}

.featured-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;


}

.featured {
  min-width: 300px;
  max-width: 30%;
  text-align: center;
  margin: 10px;
  font-size: 1.2rem;
}

.featured img {
  max-width: 100%;
  height: auto;
}

/* Staff Section Styles */

.content-staff {
  margin: 20px auto;
}

.content-staff > h2 {
  text-align: center;
  font-size: 2rem;
}

.staff-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.staff-member {
  max-width: 30%;
  min-width: 300px;
  text-align: center;
  margin: 10px;
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
}

.staff-member img {
  max-width: 50%;
  height: auto;
  border-radius: 15px;
}

.staff-member p.job-title {
  font-style: italic;
  line-height: 0;
}

.staff-member p {
  line-height: 1.5rem;
}

/* Contact Section Styles */

.content-contact {
  width: 50%;
  margin: 20px auto;
  border-top: 1px dashed black;
  text-align: center;
}

.content-contact h2 {
  font-size: 2rem;
}

.content-contact a:hover {
  color: red;
}

.content-contact a:active {
  color: blue;
}

.content-contact p.adress {
  font-style: italic;
}

/* Footer Styles */

footer {
  position: relative;
  top: 122.4px;
  background-color: black;
  padding: 5px;
  text-align: left;
}

footer p {
  color: white;
  font-size: 0.9rem;
  font-style: italic;
  margin-left: 10px;
}

@media only screen and (max-width: 585px) {
  main {
    position: relative;
    top: 97.6px;
  }

  header h1#logo {
    font-size: 2rem;
  }

  header ul {
    font-size: 1rem;
  }

  .background-container {
    height: 500px;
  }

  .content-about .text-container {
    font-size: 1rem;
  }

  footer {
    position: relative;
    top: 97.6px;
  }
}

@media only screen and (max-width: 390px) {
  main {
    position: relative;
    top: 84px;
  }

  header h1#logo {
    font-size: 1.5rem;
  }

  header ul {
    font-size: 0.85rem;
  }

  .background-container {
    height: 450px;
  }

  .description-about {
    margin: 40px auto;
  }

  footer {
    position: relative;
    top: 84px;
  }
}
